@import url('https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans:wght@300;400;700&display=swap');

/* Generate random stars */
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

.starry-background {
  height: 100%;
  width: 100%;
  z-index: 1;
  padding: 100px 0; /* Add padding to create space around the component */
}

#stars, #stars:after {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 
    100px 200px #FFF, 
    300px 400px #FFF, 
    500px 600px #FFF, 
    700px 800px #FFF, 
    900px 1000px #FFF;
  animation: animStar 20s linear infinite;
}

#stars2, #stars2:after {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 
    150px 300px #FFF, 
    350px 450px #FFF, 
    550px 750px #FFF, 
    750px 950px #FFF, 
    950px 1150px #FFF;
  animation: animStar 40s linear infinite;
}

#stars3, #stars3:after {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 
    200px 400px #FFF, 
    400px 600px #FFF, 
    600px 800px #FFF, 
    800px 1000px #FFF, 
    1000px 1200px #FFF;
  animation: animStar 60s linear infinite;
}

#title {
  text-align: center;
  color: #FFF;
  font-family: 'DM Sans', sans-serif; /* Updated font */
  font-weight: 300;
  padding-left: 10px;
}

#title h1 {
  font-family: 'Anton', sans-serif; /* Updated font */
  font-size: 50px;
  font-style: bold;
  letter-spacing: 10px;
  background: -webkit-linear-gradient(white, #03002A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 20px 0; /* Add margin to create space between elements */
}

#title p {
  font-family: 'DM Sans', sans-serif; /* Updated font */
  font-size: 20px;
  background: -webkit-linear-gradient(white, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 10%;
  margin-right: 10%; /* Add margin to create space between elements */
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
  .starry-background {
    padding: 60px 15px;
  }

  #title h1 {
    font-size: 40px;
    letter-spacing: 8px;
  }

  #title p {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .starry-background {
    padding: 40px 10px;
  }

  #title h1 {
    font-size: 30px;
    letter-spacing: 6px;
  }

  #title p {
    font-size: 16px;
    max-width: 90%;
  }
}
