@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.heading {
  font-size: 2.5rem; 
  font-weight: bold;  
  text-align: center; 
  
  color:white;
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}

html, body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: #03002A;

}

::selection {
  color: #fff;
  background: #0000;
}

.wrapper {
  height: 400px;
  width: 400px;
  top:10%;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  display:flex;
  justify-content: center;
  margin: auto;
}

.wrapper .card {
  position: absolute;
  height: 90%;
  width: 90%;
  padding: 5px;
  background: #2F2882;
  border-radius: 30px;
  transform: translateY(0deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
@media (max-width: 768px) {
  .wrapper .card {
    height: 65%;
    width: 65%;
    
  }
  .wrapper{
    margin-left: 0%;
    display: flex;
    align-items: center;
  }
}

.wrapper:hover > .front-face {
  transform: rotateY(-180deg);
}

.wrapper .card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.wrapper .back-face {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transform: rotateY(180deg);
}

.wrapper:hover > .back-face {
  transform: rotateY(0deg);
}

.wrapper .back-face img {
  height: 150px;
  width: 150px;
  padding: 5px;
  border-radius: 50%;
  background: #03002A;
}

.wrapper .back-face .info {
  text-align: center;
}

.back-face .info .title {
  font-size: 24px;
  font-weight: 500;
  top:60%;
}

.back-face ul {
  display: flex;
}

.back-face ul a {
  display: block;
  height: 40px;
  width: 40px;
  color: #fff;
  text-align: center;
  margin: 0 5px;
  line-height: 38px;
  border: 2px solid transparent;
  border-radius: 50%;
  background: #03002A;
  transition: all 0.5s ease;
}

.back-face ul a:hover {
  color: #1cc7d0;
  border-color: #1cc7d0;
  background: #03002A;
}
.back-face .info .title {
  font-size: 18px; /* Reduced font size */
  font-weight: 500;
  line-height: 1.2; /* Decreased line height for reducing the gap */
  top: 60%;
}
